name: Run DTEK Parser

on:
  schedule:
    # Запуск каждые 20 минут
    - cron: '*/20 * * * *'
  # Возможность запустить вручную кнопку
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create Service Key File
        env:
          GDRIVE_CREDS: ${{ secrets.GDRIVE_CREDS }}
        run: |
          echo "$GDRIVE_CREDS" > service_key.json

      - name: Run Parser Script
        run: python main.py
